@import "utils/variables.scss";
@import "utils/mixins.scss";
@import "utils/placeholders.scss";
@import "utils/animations.scss";
@import "utils/functions.scss";

@import "components/components.scss";
@import "layout/layout.scss";
html {
    font-size: 100%;
    max-height: 100vh;
}
* {
    font-family: 'DM Sans', sans-serif;
}
.main {
    padding: 15px;
    max-width: 1920px;
    margin: auto;
  }
  
h2 {
    font-weight: 400;
  }