.modal-contact .contact, .galery__sort #galery-sort, .btn {
  background-color: #901C1C;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  padding: 15px;
  border: none;
  transition: all 0.3s;
}

.btn:focus-within, .btn:hover {
  background-color: #DB8876;
  color: black;
}

.tag {
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  color: #901C1C;
  font-size: 0.9rem;
  margin-right: 2px;
  padding: 3px;
  margin-left: 2px;
}

.tagSelected, .tag:focus-within, .tag:hover {
  color: white;
  background-color: #901C1C;
}

.profile__description blockquote, .price {
  font-weight: normal;
  font-size: 0.85rem;
  color: #525252;
}

.lightbox__action--close, .lightbox__action--right, .lightbox__action--left {
  display: flex;
  justify-content: center;
}

.modal-contact .contact__form, .main {
  display: flex;
  flex-direction: column;
}

.modal-contact .contact__heading {
  display: flex;
  flex-direction: row;
}

#alert-success {
  margin-left: 15px;
  color: #2a5a12;
}

.tag {
  cursor: pointer;
}
a {
  text-decoration: none;
}

.goToContent {
  opacity: 0;
  width: max-content;
  margin: auto;
  font-weight: 100;
}
.goToContent:focus {
  opacity: 1;
}

h1 {
  color: #901C1C;
  font-weight: 400;
}

h2 {
  font-style: normal;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  color: #D3573C;
}

.localisation {
  color: #901C1C;
  font-weight: 400;
}

.slogan {
  font-size: 0.9rem;
}

.thmb-photographer {
  min-width: 33%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thmb-photographer__thumbnail {
  display: flex;
  flex-direction: column;
}
.thmb-photographer__thumbnail h2 {
  margin-bottom: 0px;
}
.thmb-photographer__infos {
  text-align: center;
}

.fa-heart {
  padding-top: 2px;
  margin-left: 5px;
}

.tag-list {
  display: flex;
  list-style: none;
  height: 100%;
}

.profilePic--rounded {
  align-self: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.profile {
  display: flex;
  padding: 25px;
  margin: 25px;
  background-color: #fafafa;
}
.profile__description {
  min-width: max-content;
  display: flex;
  flex-direction: column;
}
.profile__description h1 {
  font-size: 3.5rem;
  margin-top: 25px;
  margin-bottom: 0;
  color: #D3573C;
}
.profile__description ul {
  padding-left: 0;
}
.profile__description .localisation {
  font-size: 1.5rem;
}
.profile__description blockquote {
  margin-left: 0;
  margin-bottom: 20px;
}
.profile__contact {
  margin-left: 100px;
}
.profile button {
  margin-top: 30px;
  width: max-content;
  font-weight: bold;
}
.profile__photo {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .profile {
    margin: 5px;
  }
  .profile__description h1 {
    font-size: 2.5rem;
  }
  .profile__contact button {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 1200px) and (max-width: 940px) {
  .profile__contact {
    margin-left: 0px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 768px) {
  .profile {
    background-color: #fff;
    min-width: 100%;
    padding: 0px;
    justify-content: space-between;
  }
  .profile__description {
    width: 50%;
    min-width: auto;
  }
  .profile__description h1 {
    font-size: 2rem;
  }
  .profile__description .localisation {
    font-size: 1.4rem;
  }
  .profile__description .slogan {
    font-size: 1rem;
  }
  .profile__contact {
    width: 0px;
    margin-left: 0;
  }
  .profile__contact button {
    position: fixed;
    font-size: 1.2rem;
    width: 33%;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 768px) and (max-width: 540px) {
  .profile__contact button {
    width: max-content;
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .profile__photo img {
    width: 120px;
    height: 120px;
  }
}

.galery__sort {
  margin-left: 30px;
}
.galery__sort #galery-sort option {
  background-color: #901C1C;
}

.blur {
  filter: blur(15px);
}

@keyframes pop {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
.pop {
  animation: 0.3s pop ease-in-out;
}

.galery__item {
  margin: 15px;
  display: flex;
  flex-direction: column;
}
.galery__item img,
.galery__item video {
  width: 350px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.galery__item__infos {
  max-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #901C1C;
  font-size: 24px;
}
.galery__item__infos p {
  margin-top: 3px;
}
.galery__item__infos--title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.galery__item__infos--likes {
  display: flex;
  margin-left: 15px;
  cursor: pointer;
}
.galery__item__infos--likes i {
  margin-top: 3px;
  margin-left: 5px;
}
.galery__item__infos--likes:hover {
  scale: 1.2;
  transition: all 0.3s ease-in-out;
}

.complementary__infos {
  position: fixed;
  bottom: 0px;
  right: 15px;
  display: flex;
  width: 23%;
  max-width: 25%;
  min-width: 23%;
  border-radius: 5px 5px 0 0;
  background-color: #DB8876;
  justify-content: space-around;
}
.complementary__infos--popularity {
  background-color: #DB8876;
  margin: 15px;
}
.complementary__infos--popularity i {
  background-color: #DB8876;
  margin-left: 5px;
  font-style: normal;
}
.complementary__infos--price {
  background-color: #DB8876;
  margin: 15px;
}
.complementary__infos--price i {
  background-color: #DB8876;
  font-style: normal;
}
@media (max-width: 768px) {
  .complementary__infos {
    position: unset;
    margin-bottom: -35px;
    margin-top: 30px;
    max-width: unset;
    width: 30%;
    margin-right: 0px;
  }
}
@media (max-width: 480px) {
  .complementary__infos {
    width: 100%;
  }
}

.hidden {
  display: none;
  z-index: -1;
  opacity: 0;
}

.actionDisabled {
  cursor: not-allowed !important;
  color: #808080 !important;
}

.glow-error {
  border-style: solid;
  border-color: rgba(211, 0, 0, 0.774);
  border-width: 3px;
}

.disableOnPage {
  z-index: -1;
  display: none;
  visibility: hidden;
}

.lightbox_cta {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #901C1C;
  font-size: 5.2rem;
}

.modal-contact .contact {
  background-color: #DB8876;
  color: #000;
}
.modal-contact .contact__heading {
  font-size: 1.5rem;
}
.modal-contact .contact__heading--title {
  color: #000;
  margin-top: 0px;
}
.modal-contact .contact__heading--close {
  height: max-content;
  color: #fff;
  font-size: 2.5rem;
}
.modal-contact .contact__form label:not(.error) {
  font-size: 1.2rem;
  color: #312e2e;
  font-weight: 100;
}
.modal-contact .contact__form .error {
  color: #7d0000 !important;
  font-weight: 100;
  margin-bottom: 10px;
}
.modal-contact .contact__form input,
.modal-contact .contact__form textarea {
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 7px;
}
.modal-contact .contact__form .btn-send-msg {
  width: max-content;
  padding: 10px 20px 10px 20px;
  margin-top: 15px;
}
.modal-contact .contact__form .btn-send-msg:hover {
  box-shadow: 0px 10px 13px -10px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  background-color: #901C1C;
  color: #fff;
  cursor: pointer;
}

.main {
  padding: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__nav {
  display: flex;
}
.header__nav .tag-list {
  padding: 0px;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  width: min-content;
}
@media screen and (max-width: 1200px) {
  .header__logo {
    order: 1;
  }
  .header__title {
    order: 2;
    margin-top: 0px;
  }
  .header__nav {
    order: 3;
  }
  .header__nav .tag-list {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 720px) {
  .header__logo {
    width: 40%;
  }
  .header__logo img {
    width: 80%;
  }
  .header__title {
    font-size: 1.3rem;
  }
  .header__nav .tag-list {
    width: 95%;
    flex-wrap: wrap;
  }
  .header__nav .tag-list a {
    margin: 5px 0px 5px 5px;
  }
}

.close {
  cursor: pointer;
  background-color: unset;
  border: unset;
}

.photographers-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1200px) {
  .photographers-list {
    justify-content: space-around;
  }
  .photographers-list .thmb-photographer {
    min-width: 34%;
  }
}

.galery {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.galery__sort {
  width: 100%;
}
.galery__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
  flex-wrap: wrap;
}
@media screen and (max-width: 769px) {
  .galery__content {
    padding: 0px;
  }
}
@media screen and (max-width: 1200px) {
  .galery__content {
    display: flex;
    align-items: center;
  }
}

.modal {
  background: #fff;
  position: fixed;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.noVisible {
  opacity: 0;
}

.lightbox {
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
  grid-template-rows: repeat(5, 1fr) 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 70%;
  height: 90%;
  color: #901C1C;
  font-size: 5.2rem;
}
.lightbox__action {
  cursor: pointer;
}
.lightbox__action--left {
  grid-area: 3/1/4/2;
  cursor: pointer;
}
.lightbox__action--right {
  grid-area: 3/5/4/6;
  cursor: pointer;
}
.lightbox__action--close {
  grid-area: 1/5/2/6;
  cursor: pointer;
  height: max-content !important;
}
.lightbox__action--close #close {
  cursor: pointer;
  color: #901C1C !important;
  font-size: 5.2rem !important;
  background-color: unset;
  border: unset;
}
.lightbox__media {
  grid-area: 1/2/6/5;
  overflow: hidden;
}
.lightbox__media img,
.lightbox__media video {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.lightbox__media--title {
  grid-area: 6/2/7/5;
  font-size: 2rem;
}
@media screen and (max-width: 769px) {
  .lightbox {
    max-width: max-content;
    height: max-content;
  }
  .lightbox .lightbox_cta {
    font-size: 3rem;
  }
  .lightbox .lightbox_cta #close {
    color: #901C1C;
    font-size: 5.2rem;
  }
  .lightbox__media {
    overflow: hidden;
  }
  .lightbox__media img,
.lightbox__media video {
    width: 100%;
    height: 100%;
  }
}

.modal-contact .contact {
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 20px;
  box-shadow: 0px 10px 13px -10px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.modal-contact .contact__heading {
  justify-content: space-between;
  align-items: flex-start;
}
.modal-contact .contact__form {
  padding: 10px;
}
@media screen and (max-width: 769px) {
  .modal-contact .contact {
    max-width: 100%;
    min-width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .modal-contact .contact {
    height: 100%;
  }
  .modal-contact .contact__heading {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  .modal-contact .contact__form {
    height: 100%;
    justify-content: space-around;
  }
  .modal-contact .contact__form .btn-send-msg {
    align-self: center;
    margin-bottom: 50px;
    width: 50%;
    text-align: center;
  }
}

html {
  font-size: 100%;
  max-height: 100vh;
}

* {
  font-family: "DM Sans", sans-serif;
}
*:focus {
  border: 3.5px solid red;
}

.main {
  padding: 15px;
  max-width: 1920px;
  margin: auto;
}

h2 {
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
