.btn {
  @extend %roundedBox;
  &:hover {
    @extend %focusBtn;
  }
  &:focus-within {
    @extend %focusBtn;
  }
}

.tag {
  cursor: pointer;
  @extend %tag;
  &:hover {
    @extend %focusTag;
  }
  &:focus-within {
    @extend %focusTag;
  }
}

.tagSelected {
  @extend %focusTag;
  // background-color: $txt_color_secondarytxt_color_secondary;
}

a {
  text-decoration: none;
}

// Titles / textes
h1 {
  color: $txt_color_secondary;
  // font-size: 36px;
  font-weight: 400;
}
h2 {
  // font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;

  color: $txt_color_primary;
}

.localisation {
  color: $txt_color_secondary;
  font-weight: 400;
  // font-size: 13px;
}
.slogan {
  font-size: 0.9rem;
}
.price {
  @extend %text-light;
}

.thmb-photographer {
  min-width: 33%;
  margin-top: 50px;
  margin-bottom: 50px;

  // height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__thumbnail {
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 0px;
    }
  }
  &__infos {
    text-align: center;
  }
}

.profilePic--rounded {
  align-self: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
}

// Profile photograhers

.profile {
  display: flex;
  padding: 25px;
  margin: 25px;
  background-color: #fafafa;
  &__description {
    min-width: max-content;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 3.5rem;
      margin-top: 25px;
      margin-bottom: 0;
      color: $txt_color_primary;
    }
    .localisation {
      font-size: 1.5rem;
    }
    blockquote {
      @extend %text-light;
      margin-left: 0;
      margin-bottom: 20px;
    }
  }
  &__contact {
    margin-left: 100px;
  }
  button {
    margin-top: 30px;
    width: max-content;
    font-weight: bold;
  }
  &__photo {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    // scale: 0.8;
  }
  @media screen and (max-width: 1200px) {
    margin: 5px;
    &__description {
      h1 {
        font-size: 2.5rem;
      }
    }
    &__contact {
      button {
       font-size: 0.8rem;
      }
      @media screen and (max-width: 940px) {
        margin-left: 0px;
        margin-right: 15px;
        button {
        

        }

      }
    }
  }
  @media screen and (max-width: 768px) {
    // width: 1vw;
    background-color: #fff;
    min-width: 100%;
    padding: 0px;
    justify-content: space-between;
    &__description {
      width: 50%;
      min-width: auto;
      h1 {
        font-size: 2rem;
      }
      .localisation {
        font-size: 1.4rem;
      }
      .slogan {
        font-size: 1rem;
      }
    }
    &__contact { 
      width: 0px;
      margin-left: 0;
      button {
        position: fixed;
        font-size: 1.2rem;
        width: 33%;
        bottom: 55px;
        left: 50%;
        transform: translateX(-50%);
        @media screen and (max-width: 540px) {
          width: max-content;
          padding: 10px;
        }
      }
    }
    &__photo {
      img {
        width: 120px;
        height: 120px;
      }

    }
  }

}

// I'm here, try to design select and options
#sort-media {
  @extend %roundedBox;
  // margin-right: 15px;

  option {
    background-color: $bg_color_primary;
  }
}

.galery-sort {
  btn {
    border-radius: 0;
    font-size: 16px;
    text-align: left;
    padding: 5px 10px;
    width: 150px;
    position: relative;

    &::after {
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid #aaa;
      content: " ";
      position: absolute;
      right: 5px;
      top: 10px;
    }
  }
}

.blur {
  filter: blur(15px);
}
@keyframes pop {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
.pop {
  animation: 0.3s pop ease-in-out;
}

.galery__item {
  margin: 15px;
  display: flex;
  flex-direction: column;
  // width: 30%;
  img,
  video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: $border_radius;
   


  }

  &__infos {
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    color: $txt_color_secondary;
    font-size: 24px;
    p {
      margin-top: 3px;
    }

    &--title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &--likes {
      display: flex;
      margin-left: 15px;
      cursor: pointer;
      i {
        margin-top: 3px;
        margin-left: 5px;
      }
      &:hover {
        scale: 1.2;
        transition: all 0.3s ease-in-out;
      }
    }
  }

}
.modal{
  z-index: 1;
}
.complementary__infos {
  position: fixed;
  bottom: 0px;
  right: 15px;
  display: flex;
  width: 23%;
  max-width: 25%;
  min-width: 23%;

  border-radius: $border_radius $border_radius 0 0;
  background-color: $bg_color_secondary;
  justify-content: space-around;

  &--popularity {
    background-color: $bg_color_secondary;
    margin: 15px;
    i {
      background-color: $bg_color_secondary;
      margin-left: 5px;
      font-style: normal;
    }
  }
  &--price {
    background-color: $bg_color_secondary;
    margin: 15px;
    i {
      background-color: $bg_color_secondary;
      font-style: normal;
    }
  }
  @media (max-width: 768px) {
    position: unset;
    margin-bottom: -35px;
    margin-top: 30px;
    max-width: unset;
    width: 30%;
    margin-right: 0px;
  }
  @media (max-width: 480px) {
    width: 100%;
  }
}
.hidden {
  // visibility: hidden;
  display: none;
  z-index: -1;
  opacity: 0;
}
.actionDisabled {
  cursor: not-allowed;
  color: #808080;
}
.glow-error {
  border-style: solid;
  border-color: rgba(211, 0, 0, 0.774);
  border-width: 3px;
}
.error {
  color: black;
}












.modal-contact {
  .contact {
    background-color: $bg_color_secondary;
    color: #000;
    &__heading {
      font-size: 1.5rem;
      &--title {
        color: #000;
        margin-top: 0px;
      }

      &--close {
        height: max-content;
        color: #fff;
        font-size: 2.5rem;
      }
    }
    &__form {
      label {
        font-size: 1.2rem;
        color: #312e2e;
        font-weight: 100;
      }
      input,
      textarea {
        font-size: 1.2rem;
        border-radius: $border_radius;
        padding: 7px;
      }

      .btn-send-msg {
        width: max-content;
        padding: 10px 20px 10px 20px;
        margin-top: 15px;
        &:hover {
          box-shadow: 0px 10px 13px -10px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
          background-color: $bg_color_primary;
          color: #fff;
          cursor: pointer;
        }
      }
    }
   
  }

}
