%roundedBox {
  background-color: $bg_color_primary;
  border-radius: $border_radius;
  color: white;
  font-weight: 700;

  padding: 15px;
  border: none;
  transition: all 0.3s;
}

%focusBtn {
  background-color: $bg_color_secondary;
  color: black;
}

%tag {
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;

  color: $txt_color_secondary;
  font-size: 0.9rem;
  margin-right:2px;
  padding: 3px;
  margin-left:2px;

}
%focusTag {
    color: white;
    background-color: $txt_color_secondary;
}
%text-light {
  font-weight: normal;
  font-size: 0.85rem;
  color: $txt_light;
}
%flex-center{
  display: flex;
  justify-content: center;
}
%flex-column {
  display: flex;
  flex-direction: column;
}
%flex-row {
  display: flex;
  flex-direction: row;
}