$bg_color_primary: #901C1C;
$txt_color_primary: #D3573C; // Red text primary color

$bg_color_secondary: #DB8876;
$txt_color_secondary: #901C1C ; //Red text secondary color

$border_radius: 5px;